{% extends 'base.html' %}
{% block title %}Error 404{% endblock %}

{% block content %}
    <h2 class="p-3 mb-2 text-center">¡Parece que tu amigo no tiene perfil! </h2>
    <div class="p-3 mb-2 text-center">
        <img class="d-block mx-auto" style= "max-width: 50%;" src="/media/error404.png" alt="Gatete Error">
        <h5 class="d-block mx-auto"> ¿Estás seguro qué tu amigo está maullando con nosotros? </h5>
        <h5 class="d-block mx-auto">  Si tu amigo es un amigo invisible, asegurate que tienes el modo "stealth" activado</h5>
        <small class="p-3 mb-2 text-center">ATRIBUCIONES: imágenes prediseñadas de gato PNG diseñado por 588ku de  <a href="https://es.pngtree.com"> Pngtree.com</a></small>
    </div>
{% endblock %}